%footer
  %p
    公式Twitter：
    =link_to "シェアッシュ","https://twitter.com/XJAAksNfpA9V56v" ,target: :_blank
  %p 
    =link_to "利用規約","/terms"
    \/
    =link_to"プライバシーポリシー","/policy"
  %p 運営者：norio</p>
  %p 
    Twitter：
    =link_to "nor0420","https://twitter.com/nor0420" ,target: :_blank
